<div>
    <h2>
        <span>Column Definitions</span>
        <button class="btn btn-primary float-right jh-create-entity create-column-definition" [routerLink]="['/', { outlets: { popup: ['column-definition-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Column Definition
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="columnDefinitions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Column Name</span></th>
            <th><span>Column Type</span></th>
            <th><span>Pk Column Order</span></th>
            <th><span>Table Definition</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let columnDefinition of columnDefinitions ;trackBy: trackId">
                <td><a [routerLink]="['../column-definition', columnDefinition.id ]">{{columnDefinition.id}}</a></td>
                <td>{{columnDefinition.columnName}}</td>
                <td>{{columnDefinition.columnType}}</td>
                <td>{{columnDefinition.pkColumnOrder}}</td>
                <td>
                    <div *ngIf="columnDefinition.tableDefinition">
                        <a [routerLink]="['../table-definition', columnDefinition.tableDefinition?.id ]" >{{columnDefinition.tableDefinition?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../column-definition', columnDefinition.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'column-definition/'+ columnDefinition.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'column-definition/'+ columnDefinition.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
